# Visual Studio hidden cache
.vs/

# Database Migrations
DMS.Data/Migrations/

# Sensitive Configs
DMS/appsettings.Development.json

# Build and Log folders
DMS/Logs/
DMS/bin/
**/obj/

# User-specific settings files
*.user