# Visual Studio hidden cache
.vs/

# Database Migrations
DMS.Data/Migrations/

# Sensitive Configs
DMS/appsettings.Development.json

# Build and Log folders
DMS/Logs/
**/obj/
**/bin/

# User-specific settings files
*.user